{% extends 'base.html' %}

{% block title %} {{ page_title }} {% endblock%}

{% load static %}

{% load crispy_forms_tags %}

{% block content %} 

 <!-- Breadcromb Area Start -->
 {% include 'realestate/partials/user_breadcromb.html' %}
 <!-- Breadcromb Area End -->

  
      <!-- Login Area Start -->
      <section class="afloon-login-page-area-start section_100">
         
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div class="login-page-box">
                  
                  {% if messages %}
                  <ul class="messages">
                     {% include 'realestate/partials/_alerts.html' %}
                  </ul>
                  {% endif %}

                  <h2>Password Changed Successfully</h2>
                 
                    
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!-- Login Area End -->
      
      
     <!-- Newsletter Area Start -->
     <section class="afloon-newsletter-area section_15">
        <div class="container">
           <div class="row">
              <div class="col-md-7 col-sm-7">
                 <div class="afloon-newsletter-left">
                    <h4>Newsletter</h4>
                    <form>
                       <p>
                          <input type="email" name="newsletter" placeholder="Enter Your Email Address" id="newsletter" >
                          <button type="submit" ><i class="fa fa-send"></i></button>
                       </p>
                    </form>
                 </div>
              </div>
              <div class="col-md-5 col-sm-5">
                 <div class="afloon-newsletter-right">
                    <h4>follow us on</h4>
                    <ul>
                       <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                       <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                       <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                       <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!-- Newsletter Area End -->



{% endblock %}