{% extends 'base.html' %}

{% block title %} {{ page_title }} {% endblock%}


{% load crispy_forms_tags %}

{% load static %}

{% block content %}


         <!-- Breadcromb Area Start -->
         {% include 'realestate/partials/user_breadcromb.html' %}
         <!-- Breadcromb Area End -->
      
      
     <!-- Account Area Start -->
     <section class="afloon-account-area section_100">
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div class="account-left">
                    <div class="single-account-left">
                       <div class="row">
                          <div class="col-md-4">
                             <div class="account-author-left">
                                {% if user.profile.image %}
                                <img src="{{ user.profile.image.url }}" alt="image">
                                {% else %}
                                No image available
                                {% endif %}
                                
                             </div>
                             <{% include 'realestate/partials/user_menu_left.html' %}
                          </div>
                          <div class="col-md-8">
                             <div class="single-add-property left-margin">
                                <h3>personal information</h3>
                               
                                <div class="property-form-group">
                                   <div class="row">
                                    <form method="post" enctype="multipart/form-data">
                                      <div class="col-md-6">
                                         <p>
                                            <label for="name" >Full Name:</label>
                                            <input type="email" disabled value=" {{ user.profile.full_name }} " id="name" name="name" >
                                         </p>
                                      </div>
                                      <div class="col-md-6">
                                         <p>
                                            <label for="title" >User Role:</label>
                                            {% if user.landlord %}
                                            <input type="text" disabled value=" Landlord " id="title" name="title" >
                                            {% elif user.agent %}
                                            <input type="text" disabled value=" Agent " id="title" name="title" >
                                            {% else %}
                                            <input type="text" disabled value=" Prospect " id="title" name="title" >
                                            {% endif %}
                                         </p>
                                      </div>
                                   </div>
                                   <div class="row">
                                      <div class="col-md-6">
                                         <p>
                                            <label for="phn" >Phone:</label>
                                            <input type="text" disabled value="{{ user.profile.phone_number }}" id="phn" name="phone" >
                                         </p>
                                      </div>
                                      <div class="col-md-6">
                                         <p>
                                            <label for="email" >Email:</label>
                                            <input type="text" disabled value="{{ user.profile.email }}" id="email" name="email" >
                                         </p>
                                      </div>

                                      <div class="col-md-6">
                                       <p>
                                          <label for="email" >Country:</label>
                                          <input type="text" disabled value="{{ user.profile.country }}" id="email" name="email" >
                                       </p>
                                    </div>

                                    <div class="col-md-6">
                                       <p>
                                          <label for="email" >State:</label>
                                          <input type="text" disabled value="{{ user.profile.state }}" id="email" name="email" >
                                       </p>
                                    </div>
                                      
                                   </div>
                                   <div class="row">
                                    <div class="col-md-12">
                                       <p>
                                          <label for="email" >Email:</label>
                                          <input type="text" disabled value="{{ user.profile.address }}" id="email" name="email" >
                                       </p>
                                    </div>
                                   </div>
                                </div>
                             
                             </div>
                             <div class="single-add-property">
                                <h3>social link</h3>
                                <div class="property-form-group">
                                   <div class="row">
                                      <div class="col-md-6">
                                         <p>
                                            <label for="twitter" >
                                            <i class="fa fa-twitter twitter"></i>
                                            twitter
                                            </label>
                                            <input type="text" value="https://www.twitter.com/" id="twitter" name="twitter" >
                                         </p>
                                      </div>
                                      <div class="col-md-6">
                                         <p>
                                            <label for="facebook" >
                                            <i class="fa fa-facebook-square facebook"></i>
                                            facebook
                                            </label>
                                            <input type="text" value="https://www.facebook.com/k" id="facebook" name="facebook" >
                                         </p>
                                      </div>
                                   </div>
                                   <div class="row">
                                      <div class="col-md-6">
                                         <p>
                                            <label for="google" >
                                            <i class="fa fa-google-plus google"></i>
                                            Google
                                            </label>
                                            <input type="text" value="https://www.google.com/" id="google" name="google" >
                                         </p>
                                      </div>
                                      <div class="col-md-6">
                                         <p>
                                            <label for="linkedin" >
                                            <i class="fa fa-linkedin linkedin"></i>
                                            linkedin
                                            </label>
                                            <input type="text" value="https://www.linkedin.com/" id="linkedin" name="linkedin" >
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <div class="add-property-button">
                                <div class="row">
                                   <div class="col-md-12">
                                      <div class="prperty-submit-button">
                                         <a class="btn btn-primary" href=" {% url 'account-profile-update' %} " >Edit Profile</a>
                                      </div>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!-- Account Area End -->
      
      
     <!-- Newsletter Area Start -->
     <section class="afloon-newsletter-area section_15">
        <div class="container">
           <div class="row">
              <div class="col-md-7 col-sm-7">
                 <div class="afloon-newsletter-left">
                    <h4>Newsletter</h4>
                    <form>
                       <p>
                          <input type="email" name="newsletter" placeholder="Enter Your Email Address" id="newsletter" >
                          <button type="submit" ><i class="fa fa-send"></i></button>
                       </p>
                    </form>
                 </div>
              </div>
              <div class="col-md-5 col-sm-5">
                 <div class="afloon-newsletter-right">
                    <h4>follow us on</h4>
                    <ul>
                       <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                       <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                       <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                       <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!-- Newsletter Area End -->



{% endblock %}