{% extends 'base.html' %}

{% block title %} {{ page_title }} {% endblock%}

{% load crispy_forms_tags %}


{% load static %}

{% block content %}
      
  <!-- Breadcromb Area Start -->
{% include 'pages/partials/_breadcromb.html' %}
<!-- Breadcromb Area End -->
       
{% if user.is_authenticated %}
       
      <!-- Account Area Start -->
      <section class="afloon-account-area section_100">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="account-left">
                     <div class="single-account-left">
                        <div class="row">
                           <div class="col-md-4">
                              <div class="account-author-left">
                                 <img id="image-preview" src="{{ user.profile.image.url }}" alt="author image" />
                                 
                              </div>
                              <div class="account-author-left">
                                 <div class="account-menu">
                                    <h3>Manage Account</h3>
                                    <ul>
                                       <li>
                                          <a href="account.html">
                                          <i class="fa fa-user"></i>
                                          my account
                                          </a>
                                       </li>
                                       <li>
                                          <a href="favourite.html">
                                          <i class="fa fa-heart-o"></i>
                                          favourite properties
                                          </a>
                                       </li>
                                       <li>
                                          <a href="add-property.html">
                                          <i class="fa fa-file-archive-o"></i>
                                          add new property
                                          </a>
                                       </li>
                                       <li>
                                          <a href="change-password.html">
                                          <i class="fa fa-lock"></i>
                                          change password
                                          </a>
                                       </li>
                                       <li>
                                          <a href="#">
                                          <i class="fa fa-power-off"></i>
                                          log out
                                          </a>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-8">
                              <div class="single-add-property left-margin">
                                 <h3>personal information</h3>
                                 <div class="property-form-group">
                                    <form method="POST" enctype="multipart/form-data">
                                       {% csrf_token %}
                                       {{ form | crispy }}
                                       <button type="submit" class="btn btn-success">Update Profile</button>
                                     </form>
                                 </div>
                              </div>
                              
                            
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Account Area End -->


{% endif %}
  
{% endblock %}