{% extends 'base.html' %}

{% block title %} {{ page_title }} {% endblock%}

{% load static %}

{% block content %}

<!-- Breadcromb Area Start -->
{% include 'pages/partials/_breadcromb.html' %}
<!-- Breadcromb Area End -->
  
  
 <!-- About Area Start -->
 <section class="afloon-about-area section_100">
    <div class="container">
       <div class="row">
          <div class="col-md-6">
             <div class="about-left">
                <div class="afloon-section-title">
                   <h2>about <span>UyaProp</span></h2>
                   <div class="title-line"></div>
                   <img alt="light logo" src="{% static 'assets/img/light-logo.png' %}">
                </div>
                <h3>Ease to Locate, Ease to Rent, Ease to Buy!</h3>
              <p>Welcome to UyaProp, your one-stop destination for all your
               Real Estate needs in Nigeria. Our platform connects property owners
                and renters with ease, ensuring a seamless and hassle-free real 
                estate experience. With UyaProp, you can find the perfect 
                property for your needs and budget, whether you're looking to rent,
                 buy or sell.</p>

             </div>
          </div>
          <div class="col-md-6">
             <div class="about-right">
                <a href="#">
                   <img src="{% static 'assets/img/abt.jpg' %}" alt="about image">
                   <div class="about-right-overlay"></div>
                </a>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- About Area End -->
  
  
 <!-- Quotes Area Start -->
 <section class="afloon-quotes-area section_100">
    <div class="quotes_overlay"></div>
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="quotes-box">
                <h2>book your appartment or house today!</h2>
                <h3>call us on : +(67)123-8760-127</h3>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- Quotes Area End -->
  
  
 <!-- Chooseus Area Start -->
 <section class="afloon-chooseus-area section_100">
    <div class="container">
       <div class="row">
          <div class="col-md-6">
             <div class="chooseus-left">
                <h3>Our Services</h3>
                <p>Welcome to UyaProp, your one-stop destination for all your
                Real Estate needs in Nigeria. Our platform connects property owners
                 and renters with ease, ensuring a seamless and hassle-free real 
                 estate experience. With UyaProp, you can find the perfect 
                 property for your needs and budget, whether you're looking to rent,
                  buy or sell.</p>

                      
                
             </div>
          </div>
          <div class="col-md-6">
             <div class="chooseus-right left-margin">
                <div class="embed-responsive embed-responsive-16by9">
                   <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OrZjaEGpxTA?ecver=1" allowfullscreen></iframe>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- Chooseus Area End -->

  <!-- Chooseus Area Start -->
  <section class="afloon-chooseus-area section_100">
    <div class="container">
       <div class="row">
          <div class="col-md-6">
             <div class="chooseus-left">
                <h3>Why choose us</h3>
                <p>At UyaProp, we stand out from the competition with our 
                  comprehensive services, expert team, and user-friendly platform. 
                  Our platform allows property owners and renters to easily connect
                  and transact, making it easier than ever to find the perfect property.
                  We also offer a range of value-added services, including tenant screening,
                  lease management, rental collection, and more.</p>

                  <p>
                     Our team of experienced real estate professionals is here to help you 
                     every step of the way, whether you need assistance with property searches,
                      rental agreements, or property management. We're always available to answer
                       your questions and provide you with the support you need.
                  </p>

                      
             </div>
          </div>
          <div class="col-md-6">
             <div class="chooseus-right left-margin">
                <div class="embed-responsive embed-responsive-16by9">
                   <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OrZjaEGpxTA?ecver=1" allowfullscreen></iframe>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- Chooseus Area End -->
  
  
 <!-- Agents Area Start -->
 <section class="afloon-agents-area section_100">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="afloon-section-title">
                <h2>Our <span>agents</span></h2>
                <div class="title-line"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing eli Iusto.</p>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div class="afloon-agent-slide">
                <div class="single-agent">
                   <div class="agent-details">
                      <h3>jhon smith</h3>
                      <div class="agent-contact">
                         <p>
                            <i class="fa fa-phone"></i>
                            0041-456-3692
                         </p>
                         <p>
                            <i class="fa fa-envelope-o"></i>
                            hello@afloonestate.com
                         </p>
                         <p>
                            <i class="fa fa-fax"></i>
                            091-789-4100
                         </p>
                         <a href="#">view profile</a>
                      </div>
                      <div class="agent-image">
                         <img src="{% static 'assets/img/agnt1.jpg' %}" alt="agent image" />
                         <div class="agent_img_overlay_1"></div>
                      </div>
                   </div>
                </div>
                <div class="single-agent">
                   <div class="agent-details">
                      <h3>jhon smith</h3>
                      <div class="agent-contact">
                         <p>
                            <i class="fa fa-phone"></i>
                            0041-456-3692
                         </p>
                         <p>
                            <i class="fa fa-envelope-o"></i>
                            hello@afloonestate.com
                         </p>
                         <p>
                            <i class="fa fa-fax"></i>
                            091-789-4100
                         </p>
                         <a href="#">view profile</a>
                      </div>
                      <div class="agent-image">
                         <img src="{% static 'assets/img/agnt2.jpg' %}" alt="agent image" />
                         <div class="agent_img_overlay_1"></div>
                      </div>
                   </div>
                </div>
                <div class="single-agent">
                   <div class="agent-details">
                      <h3>jhon smith</h3>
                      <div class="agent-contact">
                         <p>
                            <i class="fa fa-phone"></i>
                            0041-456-3692
                         </p>
                         <p>
                            <i class="fa fa-envelope-o"></i>
                            hello@afloonestate.com
                         </p>
                         <p>
                            <i class="fa fa-fax"></i>
                            091-789-4100
                         </p>
                         <a href="#">view profile</a>
                      </div>
                      <div class="agent-image">
                         <img src="{% static 'assets/img/agnt3.jpg' %}" alt="agent image" />
                         <div class="agent_img_overlay_1"></div>
                      </div>
                   </div>
                </div>
                <div class="single-agent">
                   <div class="agent-details">
                      <h3>jhon smith</h3>
                      <div class="agent-contact">
                         <p>
                            <i class="fa fa-phone"></i>
                            0041-456-3692
                         </p>
                         <p>
                            <i class="fa fa-envelope-o"></i>
                            hello@afloonestate.com
                         </p>
                         <p>
                            <i class="fa fa-fax"></i>
                            091-789-4100
                         </p>
                         <a href="#">view profile</a>
                      </div>
                      <div class="agent-image">
                         <img src="{% static 'assets/img/agnt4.jpg' %}" alt="agent image" />
                         <div class="agent_img_overlay_1"></div>
                      </div>
                   </div>
                </div>
                <div class="single-agent">
                   <div class="agent-details">
                      <h3>jhon smith</h3>
                      <div class="agent-contact">
                         <p>
                            <i class="fa fa-phone"></i>
                            0041-456-3692
                         </p>
                         <p>
                            <i class="fa fa-envelope-o"></i>
                            hello@afloonestate.com
                         </p>
                         <p>
                            <i class="fa fa-fax"></i>
                            091-789-4100
                         </p>
                         <a href="#">view profile</a>
                      </div>
                      <div class="agent-image">
                         <img src="{% static 'assets/img/agnt2.jpg' %}" alt="agent image" />
                         <div class="agent_img_overlay_1"></div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- Agents Area End -->
  
  
 <!-- Client Review Area Start -->
 <section class="afloon-client-review-area section_100">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="afloon-section-title">
                <h2>What <span>customer say</span></h2>
                <div class="title-line"></div>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div class="client-slider">
                <div class="single-client-review">
                   <div class="review-text">
                      <div class="quotes-icon-left">
                         <i class="fa fa-quote-left"></i>
                      </div>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                      <div class="quotes-icon-right">
                         <i class="fa fa-quote-right"></i>
                      </div>
                   </div>
                   <div class="review-image">
                      <img src="{% static 'assets/img/client-say-1.jpg' %}" alt="review image" />
                      <div class="review-info">
                         <h3>john doe</h3>
                         <p>San Francisco, California</p>
                         <ul>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="single-client-review">
                   <div class="review-text">
                      <div class="quotes-icon-left">
                         <i class="fa fa-quote-left"></i>
                      </div>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                      <div class="quotes-icon-right">
                         <i class="fa fa-quote-right"></i>
                      </div>
                   </div>
                   <div class="review-image">
                      <img src="{% static 'assets/img/client-say-1.jpg' %}" alt="review image" />
                      <div class="review-info">
                         <h3>john doe</h3>
                         <p>San Francisco, California</p>
                         <ul>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- Client Review Area End -->
  
  
 <!-- Newsletter Area Start -->
 <section class="afloon-newsletter-area section_15">
    <div class="container">
       <div class="row">
          <div class="col-md-7 col-sm-7">
             <div class="afloon-newsletter-left">
                <h4>Newsletter</h4>
                <form>
                   <p>
                      <input type="email" name="newsletter" placeholder="Enter Your Email Address" id="newsletter" >
                      <button type="submit" ><i class="fa fa-send"></i></button>
                   </p>
                </form>
             </div>
          </div>
          <div class="col-md-5 col-sm-5">
             <div class="afloon-newsletter-right">
                <h4>follow us on</h4>
                <ul>
                   <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                   <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                   <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                   <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- Newsletter Area End -->

{% endblock %}