{% extends 'base.html' %}

{% block title %} {{ page_title }} {% endblock%}

{% load static %}

{% block content %}

<!-- Breadcromb Area Start -->
{% include 'pages/partials/_breadcromb.html' %}
<!-- Breadcromb Area End -->

   <!-- Blog Default Area Start -->
   <section class="afloon-blog-default-area section_100">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="single-blog-default">
                <div class="row">
                   <div class="col-md-5">
                      <div class="afloon-default-blog-img">
                         <a href="#">
                            <img src=" {% static 'assets/img/single-news3.jpg' %} " alt="default image" />
                            <div class="blog-overlay">
                               <div class="inner-overlay"></div>
                            </div>
                         </a>
                      </div>
                   </div>
                   <div class="col-md-7">
                      <div class="afloon-default-blog-text blog-list-text">
                         <h3><a href="#">Business Meeting at california</a></h3>
                         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled there are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form believable...</p>
                         <div class="afloon-post-share-comment">
                            <div class="row">
                               <div class="col-sm-6">
                                  <div class="post-share">
                                     <h4>share :</h4>
                                     <ul>
                                        <li>
                                           <a href="#" class="post-fb">
                                           <i class="fa fa-facebook"></i>
                                           </a>
                                        </li>
                                        <li>
                                           <a href="#" class="post-twit">
                                           <i class="fa fa-twitter"></i>
                                           </a>
                                        </li>
                                        <li>
                                           <a href="#" class="post-gp">
                                           <i class="fa fa-google-plus"></i>
                                           </a>
                                        </li>
                                     </ul>
                                  </div>
                               </div>
                               <div class="col-sm-6">
                                  <div class="post-comment-like">
                                     <p class="pcomment">
                                        comment : <span><a href="#">28</a></span>
                                     </p>
                                     <p>
                                        like : <span class="like"><a href="#">282</a></span>
                                     </p>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="single-blog-default">
                <div class="row">
                   <div class="col-md-5">
                      <div class="afloon-default-blog-img">
                         <a href="#">
                            <img src=" {% static 'assets/img/single-news1.jpg' %} " alt="default image" />
                            <div class="blog-overlay">
                               <div class="inner-overlay"></div>
                            </div>
                         </a>
                      </div>
                   </div>
                   <div class="col-md-7">
                      <div class="afloon-default-blog-text blog-list-text">
                         <h3><a href="#">Business Meeting at california</a></h3>
                         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled there are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form believable...</p>
                         <div class="afloon-post-share-comment">
                            <div class="row">
                               <div class="col-sm-6">
                                  <div class="post-share">
                                     <h4>share :</h4>
                                     <ul>
                                        <li>
                                           <a href="#" class="post-fb">
                                           <i class="fa fa-facebook"></i>
                                           </a>
                                        </li>
                                        <li>
                                           <a href="#" class="post-twit">
                                           <i class="fa fa-twitter"></i>
                                           </a>
                                        </li>
                                        <li>
                                           <a href="#" class="post-gp">
                                           <i class="fa fa-google-plus"></i>
                                           </a>
                                        </li>
                                     </ul>
                                  </div>
                               </div>
                               <div class="col-sm-6">
                                  <div class="post-comment-like">
                                     <p class="pcomment">
                                        comment : <span><a href="#">28</a></span>
                                     </p>
                                     <p>
                                        like : <span class="like"><a href="#">282</a></span>
                                     </p>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="single-blog-default">
                <div class="row">
                   <div class="col-md-5">
                      <div class="afloon-default-blog-img">
                         <a href="#">
                            <img src=" {% static 'assets/img/single-news2.jpg' %} " alt="default image" />
                            <div class="blog-overlay">
                               <div class="inner-overlay"></div>
                            </div>
                         </a>
                      </div>
                   </div>
                   <div class="col-md-7">
                      <div class="afloon-default-blog-text blog-list-text">
                         <h3><a href="#">Business Meeting at california</a></h3>
                         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled there are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form believable...</p>
                         <div class="afloon-post-share-comment">
                            <div class="row">
                               <div class="col-sm-6">
                                  <div class="post-share">
                                     <h4>share :</h4>
                                     <ul>
                                        <li>
                                           <a href="#" class="post-fb">
                                           <i class="fa fa-facebook"></i>
                                           </a>
                                        </li>
                                        <li>
                                           <a href="#" class="post-twit">
                                           <i class="fa fa-twitter"></i>
                                           </a>
                                        </li>
                                        <li>
                                           <a href="#" class="post-gp">
                                           <i class="fa fa-google-plus"></i>
                                           </a>
                                        </li>
                                     </ul>
                                  </div>
                               </div>
                               <div class="col-sm-6">
                                  <div class="post-comment-like">
                                     <p class="pcomment">
                                        comment : <span><a href="#">28</a></span>
                                     </p>
                                     <p>
                                        like : <span class="like"><a href="#">282</a></span>
                                     </p>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="single-blog-default">
                <div class="row">
                   <div class="col-md-5">
                      <div class="afloon-default-blog-img">
                         <a href="#">
                            <img src=" {% static 'assets/img/single-news3.jpg' %} " alt="default image" />
                            <div class="blog-overlay">
                               <div class="inner-overlay"></div>
                            </div>
                         </a>
                      </div>
                   </div>
                   <div class="col-md-7">
                      <div class="afloon-default-blog-text blog-list-text">
                         <h3><a href="#">Business Meeting at california</a></h3>
                         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled there are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form believable...</p>
                         <div class="afloon-post-share-comment">
                            <div class="row">
                               <div class="col-sm-6">
                                  <div class="post-share">
                                     <h4>share :</h4>
                                     <ul>
                                        <li>
                                           <a href="#" class="post-fb">
                                           <i class="fa fa-facebook"></i>
                                           </a>
                                        </li>
                                        <li>
                                           <a href="#" class="post-twit">
                                           <i class="fa fa-twitter"></i>
                                           </a>
                                        </li>
                                        <li>
                                           <a href="#" class="post-gp">
                                           <i class="fa fa-google-plus"></i>
                                           </a>
                                        </li>
                                     </ul>
                                  </div>
                               </div>
                               <div class="col-sm-6">
                                  <div class="post-comment-like">
                                     <p class="pcomment">
                                        comment : <span><a href="#">28</a></span>
                                     </p>
                                     <p>
                                        like : <span class="like"><a href="#">282</a></span>
                                     </p>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="pagination-box">
                <ul class="pagination">
                   <li><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                   <li><a href="#">1</a></li>
                   <li class="active"><a href="#">2</a></li>
                   <li><a href="#">3</a></li>
                   <li><a href="#">4</a></li>
                   <li><a href="#">5</a></li>
                   <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- News Default Area End -->
  
  
 <!-- Newsletter Area Start -->
 <section class="afloon-newsletter-area section_15">
    <div class="container">
       <div class="row">
          <div class="col-md-7 col-sm-7">
             <div class="afloon-newsletter-left">
                <h4>Newsletter</h4>
                <form>
                   <p>
                      <input type="email" name="newsletter" placeholder="Enter Your Email Address" id="newsletter" >
                      <button type="submit" ><i class="fa fa-send"></i></button>
                   </p>
                </form>
             </div>
          </div>
          <div class="col-md-5 col-sm-5">
             <div class="afloon-newsletter-right">
                <h4>follow us on</h4>
                <ul>
                   <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                   <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                   <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                   <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- Newsletter Area End -->

{% endblock %}