{% extends 'base.html' %}

{% block title %} {{ page_title }} {% endblock%}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<!-- Breadcromb Area Start -->
{% include 'pages/partials/_breadcromb.html' %}
<!-- Breadcromb Area End -->

   <!-- Contact Page Area Start -->
   <section class="afloon-contact-page-area section_100">
      {% include 'realestate/partials/_alerts.html' %}
    <div class="container">
       <div class="row">
          <div class="col-md-10">
             <div class="afloon-contact-desc">
                <h3>You can Contact with us Anytime</h3>
                <P>If you're looking for a reliable and trusted 
                  real estate platform in Nigeria, look no further
                   than UyaProp. Contact us today to learn
                    more about our services and how we can help you 
                    find the perfect property for your needs.</P>
             </div>
          </div>
       </div>
       <div class="afloon-contact-form-bottom">
          <div class="row">
             <div class="col-md-4 col-sm-12">
                <div class="contact-form-left">
                   <div class="single-contact-left">
                      <div class="contact-icon">
                         <i class="fa fa-phone text-center"></i>
                      </div>
                      <div class="contact-text">
                         <h4>phone</h4>
                         <p>(+44) 7436279052</p>
                         <p>(+234) 916 466 0944</p>
                      </div>
                   </div>
                   <div class="single-contact-left">
                      <div class="contact-icon">
                         <i class="fa fa-envelope text-center"></i>
                      </div>
                      <div class="contact-text">
                         <h4>Email</h4>
                         <p>help@uyaprop.com</p>
                         <p>info@uyaprop.com</p>
                      </div>
                   </div>
                   <div class="single-contact-left">
                      <div class="contact-icon">
                         <i class="fa fa-home text-center"></i>
                      </div>
                      <div class="contact-text">
                         <h4>Address</h4>
                         <span>abc. College Road - 4400<br>Bagerhat, BD</span>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-md-8 col-sm-12">
                <div class="afloon-contact-form-right left-margin">
                   <form method="POST" action=" {% url 'pages-contact' %} ">
                     {% csrf_token %}
                     {{ form | crispy }}
                    
                     <p>
                        <button type="submit">Submit</button>
                      </p>
                   </form>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- Contact Page Area End -->
  
  
 <!-- Newsletter Area Start -->
 <section class="afloon-newsletter-area section_15">
    <div class="container">
       <div class="row">
          <div class="col-md-7 col-sm-7">
             <div class="afloon-newsletter-left">
                <h4>Newsletter</h4>
                <form>
                   <p>
                      <input type="email" name="newsletter" placeholder="Enter Your Email Address" id="newsletter" >
                      <button type="submit" ><i class="fa fa-send"></i></button>
                   </p>
                </form>
             </div>
          </div>
          <div class="col-md-5 col-sm-5">
             <div class="afloon-newsletter-right">
                <h4>follow us on</h4>
                <ul>
                   <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                   <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                   <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                   <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- Newsletter Area End -->


{% endblock %}