{% extends 'base.html' %}

{% block title %} {{ page_title }} {% endblock%}

{% load humanizelib %}

{% load static %}

{% block content %}




{% include 'pages/partials/_slider.html' %}
<!-- Slider Area End -->


<!-- Search Property Area Start -->
<section class="afloon-search-property-area">
  <div class="container">
     <div class="row">
        <div class="col-md-12">
       
         <div class="search-property">
            <form method="GET" action="{% url 'pages-index' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-3">
                        <div class="single-search-property">
                            <div class="intro">
                                {{ form.property_type }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="single-search-property">
                            <div class="intro">
                                {{ form.state }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="single-search-property">
                            <div class="intro">
                              {{ form.min_beds }}
                          </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="single-search-property">
                            <div class="intro">
                                {{ form.bathroom_type }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="single-search-property">
                            {{ form.min_price }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="single-search-property">
                            {{ form.max_price }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="single-search-property button">
                            <button type="submit">Search</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        
        
        
        </div>
     </div>
  </div>
</section>
<!-- Search Property Area End -->


<!-- About Area Start -->
<section class="afloon-about-area section_100">
  <div class="container">
     <div class="row">
        <div class="col-md-6">
           <div class="about-left">
              <div class="afloon-section-title">
                 <h2>about <span>UyaProp</span></h2>
                 <div class="title-line"></div>
                 <img alt="light logo" src="{% static 'assets/img/light-logo.png' %}">
              </div>
              <h3>Ease to Locate, Ease to Rent, Ease to Buy!</h3>
              <p>Welcome to UyaProp, your one-stop destination for all your
                Real Estate needs in Nigeria. Our platform connects property owners
                 and renters with ease, ensuring a seamless and hassle-free real 
                 estate experience. With UyaProp, you can find the perfect 
                 property for your needs and budget, whether you're looking to rent,
                  buy or sell.</p>
           </div>
        </div>
        <div class="col-md-6">
           <div class="about-right">
              <a href="#">
                 <img src="{% static 'assets/img/abt.jpg' %}" alt="about image">
                 <div class="about-right-overlay"></div>
              </a>
           </div>
        </div>
     </div>
  </div>
</section>
<!-- About Area End -->


<!-- Latest Properties Area Start -->
<section class="afloon-latest-properties-area section_100">
  <div class="container">
     <div class="row">
        <div class="col-md-12">
           <div class="afloon-section-title">
              <h2>property <span>listing</span></h2>
              <div class="title-line"></div>
              <p>We have Properties in these Areas View a list of Featured Properties.</p>
           </div>
        </div>
     </div>
     <div class="row">

        {% if listings %}

        {% for listing in listings %}

        <div class="col-md-4"> 
         <div class="single-latest-properties">
            <div class="property-img">
               <a href="#">
                  <img src=" {{ listing.image.url }} " alt="property image" />
                  <div class="property_overlay"></div>
               </a>
               <div class="pro-tag sale">
                  <p>for sale</p>
               </div>
               <div class="pro-info">
                  <ul>
                     <li>
                        <i class="fa fa-bed"></i>
                        {{ listing.bedrooms }}
                     </li>
                     <li>
                        <i class="fa fa-bath"></i>
                        {{ listing.bathroom_type }}
                     </li>
                     <li>
                        <i class="fa fa-home"></i>
                        {{ listing.state }}
                     </li>
                  </ul>
               </div>
            </div>
            <div class="property-text">
               <h3><a href="{% url 'property_detail' listing.id %}">{{ listing.property_type }}</a></h3>
               <div class="pro-details-price">
                  <p>{{ listing.price |intcomma }}</p>
                  <a href="{% url 'property_detail' listing.id %}">More Details</a>
               </div>
            </div>
         </div>
      </div>


        {% endfor %}


        {% else %}

        <h5 style="color:red; font-family:sans-serif; text-align:center;">No Listing</h5>

        {% endif %}
      
     </div>
    
  </div>
</section>
<!-- Latest Properties Area End -->


<!-- Quotes Area Start -->
<section class="afloon-quotes-area section_100">
  <div class="quotes_overlay"></div>
  <div class="container">
     <div class="row">
        <div class="col-md-12">
           <div class="quotes-box">
              <h2>book your appartment or house today!</h2>
              <h3>call us on : +(67)123-8760-127</h3>
           </div>
        </div>
     </div>
  </div>
</section>
<!-- Quotes Area End -->


<!-- Best Deal Property Area Start -->
<section class="afloon-best-deal-property-area section_100">
  <div class="container">
     <div class="row">
        <div class="col-md-12">
           <div class="afloon-section-title">
              <h2>best <span>deal property</span></h2>
              <div class="title-line"></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing eli Iusto.</p>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="col-md-12">
           <div class="deal-property-slide">
            {% for listing in listings %}
              <div class="single-deal-property">
                 <div class="deal-pro-slide-img">
                    <a href="#">
                    <img src="{{ listing.image.url }}" alt="Deal Image" />
                    </a>
                    <div class="deal-price">
                       <div class="row">
                          <div class="col-md-6">
                             <div class="deal-price-left">
                                <p>N {{listing.price |intcomma}} </p>
                             </div>
                          </div>
                          <div class="col-md-6">
                             <div class="deal-price-right">
                                <p>
                                   <a href="#"><i class="fa fa-share-alt"></i></a>
                                </p>
                                <p>
                                   <a href="#"><i class="fa fa-heart-o"></i></a>
                                </p>
                                <p>
                                   <a href="#"><i class="fa fa-camera"></i></a>
                                </p>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="deal-pro-info">
                    <h3><a href="#">{{listing.property_type}}</a></h3>
                    <p><i class="fa fa-map-marker"></i> {{listing.state}}, {{listing.state_lga}} </p>
                    <ul>
                       <li>
                          <i class="fa fa-bed"></i>
                          {{listing.bedrooms}}
                       </li>
                       <li>
                          <i class="fa fa-bath"></i>
                          {{listing.bathroom_type}}
                       </li>
                      
                    </ul>
                 </div>
              </div>
           {% endfor %}
           </div>
        </div>
     </div>
  </div>
</section>
<!-- Best Deal Property Area End -->


<!-- Service Area Start -->
<section class="afloon-service-area section_100">
  <div class="container">
     <div class="row">
        <div class="col-md-12">
           <div class="afloon-section-title">
              <h2>Our <span>Service</span></h2>
              <div class="title-line"></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing eli Iusto.</p>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="col-md-3 col-sm-6">
           <div class="single-home-service">
              <div class="service-icon">
                 <i class="fa fa-crosshairs"></i>
              </div>
              <div class="service-text">
                 <h3><a href="#">Development</a></h3>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto repellendus quasi asperiores itaque dolorem at.</p>
              </div>
           </div>
        </div>
        <div class="col-md-3 col-sm-6">
           <div class="single-home-service">
              <div class="service-icon">
                 <i class="fa fa-home"></i>
              </div>
              <div class="service-text">
                 <h3><a href="#">Property Sale</a></h3>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto repellendus quasi asperiores itaque dolorem at.</p>
              </div>
           </div>
        </div>
        <div class="col-md-3 col-sm-6">
           <div class="single-home-service">
              <div class="service-icon">
                 <i class="fa fa-check"></i>
              </div>
              <div class="service-text">
                 <h3><a href="#">Property Rent</a></h3>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto repellendus quasi asperiores itaque dolorem at.</p>
              </div>
           </div>
        </div>
        <div class="col-md-3 col-sm-6">
           <div class="single-home-service">
              <div class="service-icon">
                 <i class="fa fa-bar-chart-o"></i>
              </div>
              <div class="service-text">
                 <h3><a href="#">Market Analysis</a></h3>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto repellendus quasi asperiores itaque dolorem at.</p>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
<!-- Service Area End -->


<!-- Agents Area Start -->
<section class="afloon-agents-area section_100">
  <div class="container">
     <div class="row">
        <div class="col-md-12">
           <div class="afloon-section-title">
              <h2>Our <span>agents</span></h2>
              <div class="title-line"></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing eli Iusto.</p>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="col-md-12">
           <div class="afloon-agent-slide">
            {% for propertyuser in combined_list %}
              <div class="single-agent">
                 <div class="agent-details">
                    <h3>{{propertyuser.user.profile.full_name}}</h3>
                    <div class="agent-contact">
                       <p>
                          <i class="fa fa-phone"></i>
                          {{propertyuser.user.profile.phone_number}}
                       </p>
                       <p style="font-size: 1.3rem; color:rgb(0, 145, 255); font-family:sans-serif;">
                          <i class="fa fa-envelope-o"></i>
                          {{propertyuser.user.profile.email}}
                       </p>
                       <p>
                          <i class="fa fa-home"></i>
                          {{propertyuser.user.profile.state}}
                       </p>
                       <a href="#">view profile</a>
                    </div>
                    <div class="agent-image">
                       <img src="{{propertyuser.user.profile.image.url}}" alt="agent image" />
                       <div class="agent_img_overlay_1"></div>
                    </div>
                 </div>
              </div>
            {% endfor %}
           </div>
        </div>
     </div>
  </div>
</section>
<!-- Agents Area End -->


<!-- Best Property Area Start -->
<section class="afloon-best-property-area section_100">
  <div class="container">
     <div class="row">
        <div class="col-md-12">
           <div class="afloon-section-title">
              <h2>Find Your Best Property</h2>
              <div class="title-line"></div>
           </div>
           <div class="best-property">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, ex illum corporis quibusdam numquam quisquam optio explicabo. Officiis odit quia odio dignissimos eius repellat id!</p>
              <div class="best-property-link">
                 <a href="#">view listing</a>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
<!-- Best Property Area End -->


<!-- Client Review Area Start -->
<section class="afloon-client-review-area section_100">
  <div class="container">
     <div class="row">
        <div class="col-md-12">
           <div class="afloon-section-title">
              <h2>What <span>customer say</span></h2>
              <div class="title-line"></div>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="col-md-12">
           <div class="client-slider">
              <div class="single-client-review">
                 <div class="review-text">
                    <div class="quotes-icon-left">
                       <i class="fa fa-quote-left"></i>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <div class="quotes-icon-right">
                       <i class="fa fa-quote-right"></i>
                    </div>
                 </div>
                 <div class="review-image">
                    <img src="{% static 'assets/img/client-say-1.jpg' %}" alt="review image" />
                    <div class="review-info">
                       <h3>john doe</h3>
                       <p>San Francisco, California</p>
                       <ul>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                       </ul>
                    </div>
                 </div>
              </div>
              <div class="single-client-review">
                 <div class="review-text">
                    <div class="quotes-icon-left">
                       <i class="fa fa-quote-left"></i>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <div class="quotes-icon-right">
                       <i class="fa fa-quote-right"></i>
                    </div>
                 </div>
                 <div class="review-image">
                    <img src="{% static 'assets/img/client-say-1.jpg' %}" alt="review image" />
                    <div class="review-info">
                       <h3>john doe</h3>
                       <p>San Francisco, California</p>
                       <ul>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                       </ul>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
<!-- Client Review Area End -->


<!-- Newsletter Area Start -->
<section class="afloon-newsletter-area section_15">
  <div class="container">
     <div class="row">
        <div class="col-md-7 col-sm-7">
           <div class="afloon-newsletter-left">
              <h4>Newsletter</h4>
              <form>
                 <p>
                    <input type="email" name="newsletter" placeholder="Enter Your Email Address" id="newsletter" >
                    <button type="submit" ><i class="fa fa-send"></i></button>
                 </p>
              </form>
           </div>
        </div>
        <div class="col-md-5 col-sm-5">
           <div class="afloon-newsletter-right">
              <h4>follow us on</h4>
              <ul>
                 <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                 <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                 <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                 <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul>
           </div>
        </div>
     </div>
  </div>
</section>
<!-- Newsletter Area End -->



{% endblock %}

