
<div class="account-author-left">
    <div class="account-menu">
       <h3>Manage Account</h3>
       <ul>
          <li>
             <a href=" {% url 'account-profile' %} "> 
             <i class="fa fa-user"></i>
             My Profile
             </a>
          </li>
          {% if user.is_authenticated and user.landlord or user.agent %}
          <li>
             <a href=" {% url 'property-listing' %} ">
             <i class="fa fa-home"></i>
             My Listing
             </a>
          </li>
          <li>
            <a href=" {% url 'add-property' %} ">
            <i class="fa fa-home"></i>
            Add Property
            </a>
         </li>
          {% endif %}
          <li>
             <a href=" {% url 'inbox' %} ">
             <i class="fa fa-envelope-o"></i>
             Inbox
             </a>
          </li>
          
          <li>
             <a href=" {% url 'change_password' %} ">
             <i class="fa fa-lock"></i>
             change password
             </a>
          </li>
          <li>
             <a href="{% url 'account-logout' %}">
             <i class="fa fa-power-off"></i>
             log out
             </a>
          </li>
       </ul>
    </div>
 </div>