<section class="afloon-breadcromb-area section_50">
    <div class="breadcromb_overlay"></div>
    <div class="container">
       <div class="row">
          <div class="col-sm-6">
             <div class="breadcromb-left">
                <h3> {{ user.profile.full_name }} :

                  {% if user.is_authenticated and user.landlord %}

                  Landlord Account

                  {% elif user.agent %}

                  Agent Account

                  {% else %}


                  
                  Prospect Account
                  
                  {% endif %}

                  
                </h3>
             </div>
          </div>
          <div class="col-sm-6">
             <div class="breadcromb-right">
                <ul>
                   <li><a href="#"><i class="fa fa-home"></i>home</a></li>
                   <li>/</li>
                   <li>pages</li>
                   <li>/</li>
                   <li>my account</li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </section>