<section class="afloon-breadcromb-area section_50">
    <div class="breadcromb_overlay"></div>
    <div class="container">
       <div class="row">
          <div class="col-sm-6">
             <div class="breadcromb-left">
                <h3 style="font-size: 2rem;">Ease to Locate, Ease to Rent, Ease to Buy!</h3>
             </div>
          </div>
          <div class="col-sm-6">
             <div class="breadcromb-right">
                <ul>
                   <li><a href=" {% url 'pages-index' %} "><i class="fa fa-home"></i>home</a></li>
                   <li>/</li>
                   
                </ul>
             </div>
          </div>
       </div>
    </div>
 </section>