{% load static %}

<footer class="afloon-footer-area">
  <div class="afloon-footer-top  section_50">
     <div class="container">
        <div class="row">
           <div class="col-md-3">
              <div class="single-footer-widget">
                 <div class="footer-logo">
                    <a href="index.html">
                    <img src="{% static 'assets/img/login-logo.png' %}" alt="footer logo" />
                    </a>
                 </div>
                 <p>Welcome to UyaProp, your one-stop destination
                   for all your real estate needs in Nigeria. Our platform
                    connects property owners and renters with ease, ensuring
                     a seamless and hassle-free real estate experience. 
                     With UyaProp, you can find the perfect property 
                     for your needs and budget, whether you're looking to rent,
                      buy or sell.</p>
              </div>
           </div>
           <div class="col-md-3">
              <div class="single-footer-widget">
                 <h3>popular post</h3>
                 <ul class="footer_post">
                    <li>
                       <a href="#">
                       <i class="fa fa-angle-right"></i>
                       high mall in high tech
                       </a>
                    </li>
                    <li>
                       <a href="#">
                       <i class="fa fa-angle-right"></i>
                       Nearest mall in high tech
                       </a>
                    </li>
                    <li>
                       <a href="#">
                       <i class="fa fa-angle-right"></i>
                       google mall in high tech
                       </a>
                    </li>
                    <li>
                       <a href="#">
                       <i class="fa fa-angle-right"></i>
                       Nearest mall in high tech
                       </a>
                    </li>
                    <li>
                       <a href="#">
                       <i class="fa fa-angle-right"></i>
                       Nearest mall in high tech
                       </a>
                    </li>
                 </ul>
              </div>
           </div>
           <div class="col-md-3">
              <div class="single-footer-widget">
                 <h3>usefull links</h3>
                 <ul class="footer_links">
                    <li>
                       <a href="#">
                       Terms of Use
                       </a>
                    </li>
                    <li>
                       <a href="#">
                       Privacy Policy
                       </a>
                    </li>
                    <li>
                       <a href="#">
                       Support 
                       </a>
                    </li>
                    <li>
                       <a href="#">
                       How It Works
                       </a>
                    </li>
                    <li>
                       <a href="#">
                       FAQs
                       </a>
                    </li>
                 </ul>
                 <ul class="footer_links">
                    <li>
                       <a href="#">
                       company
                       </a>
                    </li>
                    <li>
                       <a href="#">
                       Partners
                       </a>
                    </li>
                    <li>
                       <a href="#">
                       help topics 
                       </a>
                    </li>
                    <li>
                       <a href="#">
                       policies
                       </a>
                    </li>
                    <li>
                       <a href="#">
                       site map
                       </a>
                    </li>
                 </ul>
              </div>
           </div>
           <div class="col-md-3">
              <div class="single-footer-widget">
                 <h3>Get In Touch</h3>
                 <p>Mirza Bari Road,</p>
                 <p>12/D,california,USA.</p>
                 <p>Telephone : +1 234 567 890</p>
                 <p>Fax : + 1 234 567 890</p>
                 <p>Email : <a href="#">hello@afloon.com</a></p>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="afloon-footer-bottom section_25">
     <div class="container">
        <div class="row">
           <div class="col-md-12">
              <div class="copyright">
                 <p class="desktop">
                  Copyright &copy;
                  <span class="year"></span> UyaProp
                 </p>
                 <p class="mobile">
                  Copyright &copy;
                  <span class="year"></span> UyaProp
                 </p>
              </div>
           </div>
        </div>
     </div>
  </div>
</footer> 