<section class="afloon-slider-area">
    <div class="afloon-slide">
       <div class="afloon-main-slide slide-item-1">
          <div class="afloon-main-caption">
             <div class="afloon-caption-cell">
                <div class="container">
                   <div class="row">
                      <div class="col-md-12">
                         <div class="slider-text">
                            <h3>welcome to UyaProp</h3>
                            <h2 style="font-size: 3rem;">Ease to Locate, Ease to Rent, Ease to Buy!</h2>
                            <p>We Deal with Different kinds of Properties.</p>
                            <a href="#" class="afloon-btn">view all properties</a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="afloon-main-slide slide-item-2">
          <div class="afloon-main-caption">
             <div class="afloon-caption-cell">
                <div class="container">
                   <div class="row">
                      <div class="col-md-12">
                         <div class="slider-text">
                            <h3>Build your dream house with us</h3>
                            <h2>We Can Find just Right Property for You.</h2>
                            <p>A modern look, new enhanced search features, more buying opportunities!</p>
                            <a href="#" class="afloon-btn">view all properties</a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
  </section>