{% extends 'base.html' %}

{% block title %} {{ page_title }} {% endblock%}


{% load crispy_forms_tags %}

{% load humanizelib %}

{% block content %}

{% load static %}

<script src="{% static 'path/to/jquery.min.js' %}"></script>

<!-- JavaScript code -->
<script>
$(document).ready(function() {
  var propertyTypeField = $('#id_property_type');
  var bedroomsField = $('#id_bedrooms');

  // Hide/show the bedrooms field based on the initial property type selection
  toggleBedroomsField(propertyTypeField.val());

  // Update the bedrooms field visibility on property type change
  propertyTypeField.on('change', function() {
    toggleBedroomsField($(this).val());
  });

  function toggleBedroomsField(propertyType) {
    if (propertyType === 'Apartment') {
      bedroomsField.hide();
    } else {
      bedroomsField.show();
    }
  }
});
</script>


      <!-- Breadcromb Area Start -->
      {% include 'realestate/partials/user_breadcromb.html' %}
     <!-- Breadcromb Area End -->
      
      
     <!-- Account Area Start -->
     <section class="afloon-account-area section_100">
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div class="account-left">
                    <div class="single-account-left">
                       <div class="row">
                          <div class="col-md-4">
                           <div class="single-listing-widget">
                              <h3> my recent property</h3>
                              <ul>
                               {% if properties %}
       
                               {% for property in properties %}
                                 <li>
                                    <div class="recent-img">
                                       <a href="#">
                                       <img src=" {{ property.image.url }} " alt="recent image"  width="82" height="79" />
                                       </a>
                                    </div>
                                    <div class="recent-text">
                                       <h4 style="font-size: 1.5rem;">
                                          <a href=" {% url 'property_detail' property.id %} ">{{property.property_type}}</a><a href=" {% url 'edit-property' property.id %} " class="btn btn-danger-sm">Edit</a>
                                       </h4>
                                       <p>Location: {{property.state}}, {{property.state_lga}}</p>
                                       <p style="font-size: 1.3rem; color:rgba(235, 6, 6, 0.685); font-family:sans-serif;">Price: {{property.price |intcomma}}</p> 
                                    </div>
                                 </li>
                               {% endfor %}
                               {% else %}
       
                               <h5>No Property Listing</h5>
       
                               {% endif %}
                                 
                                 
                                 
                              </ul>
                           </div>
                             {% include 'realestate/partials/user_menu_left.html' %}

                          </div>
                          <div class="col-md-8">
                            

                           <div class="container">
                              <div class="row">
                                 <div class="col-md-8">
                                    <div class="afloon-complete-order-head">
                                       <h2>add your property</h2>
                                       <p>Please enter your propert and profile information to complete add your property!</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-md-8">
                                    
                                    <form method="POST" enctype="multipart/form-data">
                                       
                                       {% csrf_token %}
                                       {{ form | crispy }}
                                       

                                       <div class="add-property-button">
                                          <div class="row">
                                             <div class="col-md-8">
                                                <div class="prperty-submit-button">
                                                   <button type="submit" class="btn btn-success">
                                                      {% if page_title == 'Add Property' %}
                                                      Add Property
                                                      {% else %}
                                                      Update Property
                                                      {% endif %}
                                                   </button>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </form>
                                   
                                 </div>
                              </div>
                           </div>

                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!-- Account Area End -->
      
      
     <!-- Newsletter Area Start -->
     {% include 'realestate/partials/newsletter.html' %}
     <!-- Newsletter Area End -->



{% endblock %}