{% extends 'base.html' %}

{% block title %} {{ page_title }} {% endblock%}


{% load crispy_forms_tags %}

{% load humanizelib %}

{% load static %}

{% block content %}

 <!-- Breadcromb Area Start -->
 {% include 'realestate/partials/user_breadcromb.html' %}
 <!-- Breadcromb Area End -->


  <!-- Property Details Area Start -->
  <section class="afloon-property-details-area section_100">
   {% include 'realestate/partials/_alerts.html' %}
   <div class="container">
      <div class="row">
         <div class="col-md-8">
            <div class="property-details-left">
               <div class="single-property-details">
                  <h2> {{ property.property_type }} </h2>
                  <p>{{ property.address}}, {{ property.state }}, {{ property.country }}.</p>
                  <div class="property-meta">
                     <ul>
                        

                        <li>
                           <i class="fa fa-bed"></i>
                           <span>{{ property.bedrooms }}</span>
                        </li>
                        <li>
                           <i class="fa fa-bath"></i>
                           <span>{{ property.bathroom_type }}</span>
                        </li>
                       
                     </ul>
                  </div>
                  <div class="property-slide">
                     <div class="single-property-slide" data-hash="pro_one">
                        <img src=" {{ property.image.url }} " alt="property image" width="750" height="200" />
                        <div class="pro-slide-overlay"></div>
                     </div>
                     <div class="single-property-slide"  data-hash="pro_two">
                        <img src="{{ property.image.url }}" alt="property image" />
                        <div class="pro-slide-overlay"></div>
                     </div>
                     <div class="single-property-slide"  data-hash="pro_three">
                        <img src="{{ property.image.url }}" alt="property image" />
                        <div class="pro-slide-overlay"></div>
                     </div>
                     <div class="single-property-slide"  data-hash="pro_four">
                        <img src="{{ property.image.url }}" alt="property image" />
                        <div class="pro-slide-overlay"></div>
                     </div>
                  </div>
                  <div class="link-image-slide">
                     <div class="hash_main">
                        <a href="#pro_one">
                        <img src="{{ property.image.url }}" alt="url image" />
                        </a>
                     </div>
                     <div class="hash_main">
                        <a href="#pro_two">
                        <img src="{{ property.image.url }}" alt="url image" />
                        </a>
                     </div>
                     <div class="hash_main">
                        <a href="#pro_three">
                        <img src="{{ property.image.url }}" alt="url image" />
                        </a>
                     </div>
                     <div class="hash_main">
                        <a href="#pro_four">
                        <img src="{{ property.image.url }}" alt="url image" />
                        </a>
                     </div>
                  </div>
               </div>
               <div class="single-property-details">
                  <h2>Property Details</h2>
                  <div class="pro_desc">
                     <p> {{ property.description }} </p> 
                     <p>Address: {{ property.address }}, <p>State: {{ property.state }}, <p> Local Govt. Area: {{ property.state_lga }} </p>  </p>  </p> 

                     {% if user_type != 'prospect' %}
                     
                     <a class="btn btn-primary" href=" {% url 'edit-property' property.id %} ">Edit</a>
                     
                     {% endif %}
                  </div>
               </div>
               
               
               
            </div>
         </div>
         
         

         <div class="col-md-4">
            <div class="listing-widget-box  left-margin">
               {% include 'realestate/partials/user_menu_left.html' %}
                <!--Contact Landlord/Agent Sidebar-->
               {% if user_type == 'prospect' %}
               <div class="single-listing-widget">
                  <h3>contact 
                     {% if property.agent %}
                     agent
                     {% else %}
                     landlord 
                     {% endif %}
                  
                  </h3>
                  <div class="contact-agent-box">
                     <div class="single-agent big-margin">
                        <div class="agent-details">
                           <h3>{{property_owner.user.profile.full_name  }}</h3>
                           <div class="agent-contact">
                              <p>
                                 <i class="fa fa-phone"></i>
                                 {{property_owner.user.profile.phone_number }}
                              </p>
                              <p style="font-size: 1.2rem; color:rgb(0, 145, 255); font-family:sans-serif;">
                                 <i class="fa fa-envelope-o"></i>
                                 {{property_owner.user.profile.email }}
                              </p>
                              
                              <p>
                                 <i class="fa fa-skype"></i>
                                 bohdan.kononets
                              </p>
                           </div>
                           <div class="agent-image">
                              <img src=" {{ property_owner.user.profile.image.url }} " alt="agent image" />
                              <div class="agent_img_overlay_1"></div>
                           </div>
                        </div>
                     </div>
                     <form method="POST">

                        {% csrf_token %}
                        {{ form | crispy }}
                        
                        <p>
                           <button type="submit" >Send Message</button>
                        </p>
                     </form>
                  </div>
               </div>
               {% endif %}
                <!--End of Contact Landlord/Agent Sidebar-->
            </div>
         </div>

         

         <!--Landlord and Agent Recent Listing Sidebar-->
         {% if user_type != 'prospect' %}
         <div class="col-md-4">
            <div class="listing-widget-box left-margin">
               
               
               <div class="single-listing-widget">
                  <h3> 
                    
                     my recent property
                     
                  </h3>
                  <ul>
                   {% if properties %}

                   {% for property in properties %}
                     <li>
                        <div class="recent-img">
                           <a href="#">
                           <img src=" {{ property.image.url }} " alt="recent image"  width="82" height="79" />
                           </a>
                        </div>
                        <div class="recent-text">
                           <h4 style="font-size: 1.5rem; color:blue;">
                              <a href=" {% url 'property_detail' property.id %} ">{{property.property_type}}</a>
                              {% if user_type != 'prospect' %}
                              <a href=" {% url 'edit-property' property.id %} " class="btn btn-danger-sm">Edit</a>
                              {% endif %}
                           </h4>
                           <p>Location: {{property.state}}, {{property.state_lga}}</p>
                           <p style="font-size: 1.2rem; font-family:sans-serif; color:rgb(243, 73, 6);">Price: N{{property.price |intcomma}}</p> 
                        </div>
                     </li>
                   {% endfor %} 
                   {% else %}

                   <h5>No Property Listing</h5>

                   {% endif %}
                     
                     
                     
                  </ul>
               </div>
            </div>
         </div>
         {% endif %}
          <!-- End of Landlord and Agent Recent Listing Sidebar-->
      </div>
   </div>
</section>
<!-- Property Details Area End -->

   <!-- Newsletter Area Start -->
   {% include 'realestate/partials/newsletter.html' %}
   <!-- Newsletter Area End -->


{% endblock %}