{% extends 'base.html' %}

{% block title %} {{ page_title }} {% endblock%}


{% load crispy_forms_tags %}

{% load static %}

{% load humanizelib %}

{% block content %}


      <!-- Breadcromb Area Start -->
      {% include 'realestate/partials/user_breadcromb.html' %}
     <!-- Breadcromb Area End -->
      
      
     <!-- Google Map Start -->
     <div class="map_area" id="googleMap"></div>
     <!-- Google Map Start -->
      
      
     <!-- Listing Sidebar Area Start -->
     <section class="afloon-listing-sidebar-area section_100">
        <div class="container">
           <div class="row">
              <div class="col-md-4">
               <!-- Recent Listings Area Start -->
               <div class="single-listing-widget">
                  <h3>recent property</h3>
                  <ul>
                     {% for property in properties %}
                     <li>
                        <div class="recent-img">
                           <a href="#">
                           <img src=" {{ property.image.url }} " alt="recent image" width="82" height="79" />
                           </a>
                        </div>
                        <div class="recent-text">
                           <h4>
                              <a style="font-size:1.4rem;" href="{% url 'property_detail' property.id % }"> {{property.property_type}} </a>
                           </h4>
                           <p>{{property.state}}, {{property.state_lga}}</p>
                           <p style="color:red; font-family:sans-serif; font-size:1.2rem;">N{{property.price |intcomma}} <a class="btn btn-primary small-button" style="display: inline-block; margin: 0.3rem; padding: 0.2rem 0.6rem; font-size: 0.9rem; font-family:sans-serif;" href="{% url 'property_detail' property.id %}">Contact</a></p> 
                        </div>
                     </li> 
                    {% endfor %}
                     
                  </ul>
               </div>

                  <!-- Search Listing Area Start -->
                 <div class="listing-widget-box">
                  <div class="single-listing-widget">
                     <h3>Search Property</h3>
                     
                   <form action="" method="GET">
                   
                   {% csrf_token %}
                   {{ form | crispy }}
                     
                     <div class="single-listing-search-property">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="listing-search">
                                 <button type="submit" >Search</button>
                              </div>
                           </div>
                           
                        </div>
                     </div>

                   </form>
                     
                  </div>
                    
                 </div>
                 {% include 'realestate/partials/user_menu_left.html' %}
              </div>
              <div class="col-md-8">
                 <div class="listing-property-right left-margin">
                    <div class="listing-ordering">
                       <div class="row">
                          <div class="col-md-6 col-sm-6">
                             <div class="shorting-left">
                              <p>Showing {{ properties.start_index }}–{{ properties.end_index }} of {{ total_properties }} results</p>
                             </div>
                          </div>
                          <div class="col-md-6 col-sm-6">
                             <div class="shorting-right">
                                <select class="orderby" name="orderby">
                                   <option value="0" selected >Default shorting</option>
                                   <option value="1" >short by rating </option>
                                   <option value="2" >short by popularity </option>
                                   <option value="3" >short by popularity </option>
                                   <option value="4" >short by price:high to low</option>
                                   <option value="5" >short by price:low to high</option>
                                </select>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="listin-item">
                       <div class="row">
                        {% if properties %}

                        {% for property in properties %}

                          <div class="col-md-6">
                             <div class="single-latest-properties">
                                <div class="property-img">
                                   <img src=" {{ property.image.url }} " alt="property image" width="364" height="254" />
                                   <div class="property_overlay"></div>
                                   <div class="pro-tag sale">
                                      <p>for sale</p>
                                   </div>
                                   <div class="pro-info">
                                      <ul>
                                         <li>
                                            <i class="fa fa-bed"></i>
                                            {{ property.bedrooms }}
                                         </li>
                                         <li>
                                            <i class="fa fa-bath"></i>
                                            {{ property.bathroom_type }}
                                         </li>
                                         <li>
                                            <i class="fa fa-taxi"></i>
                                            None
                                         </li>
                                      </ul>
                                   </div>
                                </div>
                                <div class="property-text">
                                   <h3><a href="{% url 'property_detail' property.id %}"> {{ property.property_type }} </a></h3>
                                   <div class="pro-details-price">
                                      <p> N{{ property.price|intcomma }} </p>
                                      <a href="{% url 'property_detail' property.id %}">More Details</a>
                                   </div>
                                </div>
                             </div>
                          </div>

                        {% endfor %}

                        {% else %}

                        <h3>No Listing</h3>

                        {% endif %}
                         
                       </div>
                    </div>
                    <div class="row">
                     <div class="col-md-12">
                        <div class="pagination-box">
                            <ul class="pagination">
                                {% if properties.has_previous %}
                                    <li><a href="?page=1"><i class="fa fa-angle-double-left"></i></a></li>
                                    <li><a href="?page={{ properties.previous_page_number }}">{{ properties.previous_page_number }}</a></li>
                                {% endif %}
                                
                                <li class="active"><a href="?page={{ properties.number }}">{{ properties.number }}</a></li>
                                
                                {% if properties.has_next %}
                                    <li><a href="?page={{ properties.next_page_number }}">{{ properties.next_page_number }}</a></li>
                                    <li><a href="?page={{ properties.paginator.num_pages }}"><i class="fa fa-angle-double-right"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!-- Listing Sidebar Area End -->
      
      
     <!-- Newsletter Area Start -->
     {% include 'realestate/partials/newsletter.html' %}
     <!-- Newsletter Area End -->



{% endblock %}