{% extends 'base.html' %}

{% block title %} {{ page_title }} {% endblock%}


{% load crispy_forms_tags %}

{% load static %}

{% block content %}


    <!-- Breadcromb Area Start -->
    {% include 'realestate/partials/user_breadcromb.html' %}
    <!-- Breadcromb Area End -->
      
      
     <!-- Account Area Start -->
     <section class="afloon-account-area section_100">
        <!-- Alert Template -->
        {% include 'realestate/partials/_alerts.html' %}
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div class="account-left">
                    <div class="single-account-left">
                       <div class="row">
                        <div class="col-md-4">
                            <div class="listing-widget-box  left-margin">
                               {% include 'realestate/partials/user_menu_left.html' %}
                                <!--Contact Landlord/Agent Sidebar-->
                               
                               <div class="single-listing-widget">
                                  <h3>
                                    {% if user.is_authenticated and user.landlord or user.agent %}
                                    
                                    
                                    Reply Prospect


                                    {% else %}

                                    Reply Property Owner


                                    {% endif %}
                                  
                                  </h3>
                                  <div class="contact-agent-box">
                                     <div class="single-agent big-margin">
                                        <div class="agent-details">
                                           <h3>
                                           
                                             {{notification.sender.profile.full_name  }}
                                             
                                          </h3>
                                           <div class="agent-contact">
                                              <p>
                                                 <i class="fa fa-phone"></i>
                                                 {{notification.sender.profile.phone_number }}
                                              </p>
                                              <p style="font-size: 1.2rem; color:rgb(0, 145, 255); font-family:sans-serif;">
                                                 <i class="fa fa-envelope-o"></i>
                                                 {{notification.sender.profile.email }}
                                              </p>
                                              
                                              <p>
                                                 <i class="fa fa-home"></i>
                                                 {{notification.sender.profile.state }}, {{notification.sender.profile.town }}
                                              </p>
                                           </div>
                                           <div class="agent-image">
                                              <img src=" {{ notification.sender.profile.image.url }} " alt="agent image" />
                                              <div class="agent_img_overlay_1"></div>
                                           </div>
                                        </div>
                                     </div>
                                     
                
                                       
                                        <p>
                                           <a class="btn btn-success" href=" {% url 'send_message' property_id=property_id recipient_id=sender_details.user.id  %}  ">Reply Message</a>
                                        </p>
                                     </form>
                                  </div>
                               </div>
                              
                                <!--End of Contact Landlord/Agent Sidebar-->
                            </div>
                         </div>
                          
                          
                          <div class="col-md-8">
                             <div class="single-add-property left-margin">
                                <h3>Message Detail</h3>
                               
                                <div class="property-form-group">
                                   <div class="row">
                                    <div class="col-md-6">
                                        <p>
                                           <label for="name" >Subject</label>
                                           <input type="text" disabled value="{{ notification.subject }}"  name="name" >
                                        </p>
                                     </div>
                                     <div class="col-md-6">
                                        <p>
                                           <label for="name" >Prospect</label>
                                           <input type="text" disabled value="{{ notification.sender }}"  name="name" >
                                        </p>
                                     </div>
                                     <div class="col-md-6">
                                        <p>
                                           <label for="name" >Property Type</label>
                                           <input type="text" disabled value="{{ notification.property.property_type }}"  name="name" >
                                        </p>
                                     </div>
                                    
                                     <div class="col-md-6">
                                        <p>
                                           <label for="name" >State/LGA</label>
                                           <input type="text" disabled  value="{{ notification.property.state }}, {{ notification.property.state_lga }}"  name="name" >
                                        </p>
                                     </div>
                                     <div class="col-md-12">
                                        <p>
                                           <label for="name" >Description</label>
                                           <input type="text" disabled value="{{ notification.property.description }}"  name="name" >
                                        </p>
                                     </div>
                                     <div class="col-md-12">
                                        <p>
                                           <label for="name" >Address:</label>
                                           <input type="text" disabled value="{{ notification.property.address }}"  name="name" >
                                        </p>
                                     </div>
                                     <div class="col-md-12">
                                        <p>
                                           <label for="me" >Message</label>
                                           <textarea id="me" name="me" disabled>
                                            {{ notification.content }}
                                           </textarea>
                                        </p>
                                     </div>
                                       
                                    
                                    
                                      
                                   </div>
                                   
                                </div>
                             
                             </div>
                            
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!-- Account Area End -->
      
      
       <!-- Newsletter Area Start -->
       {% include 'realestate/partials/newsletter.html' %}
       <!-- Newsletter Area End -->



{% endblock %}