{% extends 'base.html' %}

{% block title %} {{ page_title }} {% endblock%}


{% load crispy_forms_tags %}

{% load humanizelib %}

{% load static %}

{% block content %}

 <!-- Breadcromb Area Start -->
 {% include 'realestate/partials/user_breadcromb.html' %}
 <!-- Breadcromb Area End -->


  <!-- Property Details Area Start -->
  <section class="afloon-property-details-area section_100">
   {% include 'realestate/partials/_alerts.html' %}
   <div class="container">
      <div class="row">
         <div class="col-md-8">
            <div class="property-details-left">
               <div class="single-property-details">
                  <h2> {{ property.property_type }} </h2>
                  <p>{{ property.address}}, {{ property.state }}, {{ property.country }}.</p>
                  <div class="property-meta">
                     <ul>
                        

                        <li>
                           <i class="fa fa-bed"></i>
                           <span>{% if property.bedrooms is None %}
                              Single Room
                              {% else %}
                              {{ property.bedrooms }} Room
                              {% endif %}
                           </span>
                        </li>
                        <li>
                           <i class="fa fa-bath"></i>
                           <span>{{ property.bathroom_type }}</span>
                        </li>
                       
                     </ul>
                  </div>
                  <div class="property-slide">
                     <div class="single-property-slide" data-hash="pro_one">
                        <img src=" {{ property.image.url }} " alt="property image" width="750" height="400" />
                        <div class="pro-slide-overlay"></div>
                     </div>
                     <div class="single-property-slide"  data-hash="pro_two">
                        <img src="{{ property.image.url }}" alt="property image" />
                        <div class="pro-slide-overlay"></div>
                     </div>
                     <div class="single-property-slide"  data-hash="pro_three">
                        <img src="{{ property.image.url }}" alt="property image" />
                        <div class="pro-slide-overlay"></div>
                     </div>
                     <div class="single-property-slide"  data-hash="pro_four">
                        <img src="{{ property.image.url }}" alt="property image" />
                        <div class="pro-slide-overlay"></div>
                     </div>
                  </div>
                  <div class="link-image-slide">
                     <div class="hash_main">
                        <a href="#pro_one">
                        <img src="{{ property.image.url }}" alt="url image" />
                        </a>
                     </div>
                     <div class="hash_main">
                        <a href="#pro_two">
                        <img src="{{ property.image.url }}" alt="url image" />
                        </a>
                     </div>
                     <div class="hash_main">
                        <a href="#pro_three">
                        <img src="{{ property.image.url }}" alt="url image" />
                        </a>
                     </div>
                     <div class="hash_main">
                        <a href="#pro_four">
                        <img src="{{ property.image.url }}" alt="url image" />
                        </a>
                     </div>
                  </div>
               </div>
               <div class="single-property-details">
                  <h2>Property Details</h2>
                  <div class="pro_desc">
                     <p> {{ property.description }} </p> 
                     <p>Address: {{ property.address }}, <p>State: {{ property.state }}, <p> Town/City: {{ property.town }} </p>  </p>  </p> 

                     {% if user.is_authenticated and user.landlord or user.agent %}

                     
                     
                     <a class="btn btn-primary" href=" {% url 'edit-property' property.id %} ">Edit</a>
                     
                     {% endif %}
                  </div>
               </div>
               
               
               
            </div>
         </div>
         
         

         <div class="col-md-4">
            <div class="listing-widget-box  left-margin">
               
                <!--Contact Landlord/Agent Sidebar-->
               {% if user.is_authenticated and user.prospect_profile %}
               <div class="single-listing-widget">
                  <h3>contact 
                     {% if property.agent %}
                     agent
                     {% else %}
                     landlord 
                     {% endif %}
                  
                  </h3>
                  <div class="contact-agent-box">
                     <div class="single-agent big-margin">
                        <div class="agent-details">
                           <h3>{{property_owner.user.profile.full_name}}</h3>
                           <div class="agent-contact">
                              <p>
                                 <i class="fa fa-phone"></i>
                                 {{property_owner.user.profile.phone_number }}
                              </p>
                              <p style="font-size: 1.2rem; color:rgb(0, 145, 255); font-family:sans-serif;">
                                 <i class="fa fa-envelope-o"></i>
                                 {{property_owner.user.profile.email }}
                              </p>
                              
                              <p>
                                 <i class="fa fa-home"></i>
                                 {{property_owner.user.profile.country }}, {{property_owner.user.profile.state }}
                              </p>
                           </div>
                           <div class="agent-image">
                              <img src=" {{ property_owner.user.profile.image.url }} " alt="agent image" /> 
                              <div class="agent_img_overlay_1"></div>
                           </div>
                        </div>
                     </div>
                     
                        
                        <p>
                          <a class="btn btn-primary" href=" {% url 'send_message' property_id=property.id recipient_id=property_owner.user.id  %} ">Send Message</a>
                        </p>
                     
                  </div>
               </div>
               {% endif %}
                <!--End of Contact Landlord/Agent Sidebar-->
            </div>
         </div>

         

         <!--Landlord and Agent Recent Listing Sidebar-->
         {% if user.is_authenticated and user.landlord or user.agent %}
         <div class="col-md-4">
            <div class="listing-widget-box left-margin">
               
               
               <div class="single-listing-widget">
                  <h3> 
                    
                     my recent property
                     
                  </h3>
                  <ul>
                   {% if properties %}

                   {% for property in properties %}
                     <li>
                        <div class="recent-img">
                           <a href="#">
                           <img src=" {{ property.image.url }} " alt="recent image"/>
                           </a>
                        </div>

                        <div>
                           <h4 style="text-align: center; margin-top:5%; color:green; font-family:sans-serif; font-size:1.6rem; font-weight:bold;">
                              <a  style="text-align: center;" href=" {% url 'property_detail' property.id %} ">{{property.property_type}}</a>
                              {% if not user.prospect_profile %}
                              <a class="btn btn-success" style="text-align: center;" href=" {% url 'edit-property' property.id %} " class="btn btn-danger-sm">Edit</a>
                              {% endif %}
                           </h4>
                           <p style="text-align: center; color:blue;">Location: {{property.state}}, {{property.town}}</p>
                           <p style="text-align:center; font-size: 1.4rem; font-family:sans-serif; color:rgb(243, 73, 6);">Price: N{{property.price |intcomma}}</p> 
                        </div>
                     </li>
                   {% endfor %} 
                   {% else %}

                   <h5>No Property Listing</h5>

                   {% endif %}
                     
                     
                     
                  </ul>
               </div>

               {% include 'realestate/partials/user_menu_left.html' %}
            </div>
         </div>
         {% endif %}
          <!-- End of Landlord and Agent Recent Listing Sidebar-->
      </div>
   </div>
</section>
<!-- Property Details Area End -->

   <!-- Newsletter Area Start -->
   {% include 'realestate/partials/newsletter.html' %}
   <!-- Newsletter Area End -->


{% endblock %}