{% extends 'base.html' %}

{% block title %} {{ page_title }} {% endblock%}



{% load crispy_forms_tags %}

{% load static %}

{% load humanizelib %}

{% block content %}


      <!-- Breadcromb Area Start -->
      <section class="afloon-breadcromb-area section_50">
        <div class="breadcromb_overlay"></div>
        <div class="container">
           <div class="row">
              <div class="col-sm-6">
                 <div class="breadcromb-left">
                    <h3> {{ user.username }} account</h3>
                 </div>
              </div>
              <div class="col-sm-6">
                 <div class="breadcromb-right">
                    <ul>
                       <li><a href="#"><i class="fa fa-home"></i>home</a></li>
                       <li>/</li>
                       <li>pages</li>
                       <li>/</li>
                       <li>my account</li>
                    </ul>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!-- Breadcromb Area End -->
      
      
     <!-- Account Area Start -->
     <section class="afloon-account-area section_100">
      <!-- Alert Message Template -->
      {% include 'realestate/partials/_alerts.html' %}
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div class="account-left">
                    <div class="single-account-left">
                       <div class="row">
                          <div class="col-md-4">
                             
                             <div class="account-author-left">
                                <div class="account-menu">
                                   <h3>Manage Account</h3>
                                   <ul>
                                      <li>
                                         <a href="">
                                         <i class="fa fa-user"></i>
                                         my account
                                         </a>
                                      </li>
                                      <li>
                                         <a href="favourite.html">
                                         <i class="fa fa-heart-o"></i>
                                         favourite properties
                                         </a>
                                      </li>
                                      <li>
                                         <a href="add-property.html">
                                         <i class="fa fa-file-archive-o"></i>
                                         add new property
                                         </a>
                                      </li>
                                      <li>
                                         <a href="change-password.html">
                                         <i class="fa fa-lock"></i>
                                         change password
                                         </a>
                                      </li>
                                      <li>
                                         <a href="#">
                                         <i class="fa fa-power-off"></i>
                                         log out
                                         </a>
                                      </li>
                                   </ul>
                                </div>
                             </div>
                          </div>
                          <div class="col-md-8">
                             <div class="single-add-property left-margin">
                                <h3>Messages</h3>
                               
                                <div class="property-form-group">
                                   <div class="row">

                                    {% if notifications %}
                                       <table class="table table-bordered">
                                         <thead>
                                           <tr>
                                             <th><input type="checkbox" id="select-all-checkbox"></th>
                                             <th>S/No.</th>
                                             <th>Property Description</th>
                                             <th>Property Type</th>
                                             <th>Subject</th>
                                             <th>Date</th>
                                             <th>Status</th>
                                             <th>Action</th>
                                           </tr>
                                         </thead>
                                         
                                         <tbody>
                                          {% for notification in notifications %}
                                           <tr>
                                             <td><input type="checkbox" name="message_ids" value="{{ notification.id }}"></td>
                                             <td>{{ forloop.counter }}</td>
                                             <td>{{notification.property}}</td>
                                             <td>{{notification.property.property_type}}</td>
                                             <td>{{notification.subject}}</td>
                                             <td>{{notification.date   }}</td>
                                             <td>  {% if notification.status == False %} 
                                                
                                                
                                                <a class="btn btn-success" href=" {% url 'read-message' notification.id %} ">Unread</a>
                                                
                                                {% else %}
                                                Read
                                                {% endif %}

                                             </td>
                                             <td> <a class="btn btn-danger" href=" {% url 'delete-message' notification.id %} ">Delete</a> </td> 
                                           </tr>
                                           {% endfor %}
                                         </tbody>
                                         
                                       </table>
                                       <button class="btn btn-danger" type="submit">Delete Selected Messages</button>
                                       {% else %}
                                       <h5 style="text-align: center; color:red;">You have Messsage for Now. </h5>
                                       {% endif %}
                                      
                                   </div>
                                   
                                </div>
                                 <!--Pagination-->
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="pagination-box">
                                          <ul class="pagination">
                                             {% if notifications.has_previous %}
                                                   <li><a href="?page=1"><i class="fa fa-angle-double-left"></i></a></li>
                                                   <li><a href="?page={{ notifications.previous_page_number }}">{{ notifications.previous_page_number }}</a></li>
                                             {% endif %}
                                             
                                             <li class="active"><a href="?page={{ notifications.number }}">{{ notifications.number }}</a></li>
                                             
                                             {% if notifications.has_next %}
                                                   <li><a href="?page={{ notifications.next_page_number }}">{{ notifications.next_page_number }}</a></li>
                                                   <li><a href="?page={{ notifications.paginator.num_pages }}"><i class="fa fa-angle-double-right"></i></a></li>
                                             {% endif %}
                                          </ul>
                                       </div>
                                 </div>
                                 </div>
                                 <!--End Pagination-->
                             
                             </div>
                              
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!-- Account Area End -->
      
      
     <!-- Newsletter Area Start -->
     <section class="afloon-newsletter-area section_15">
        <div class="container">
           <div class="row">
              <div class="col-md-7 col-sm-7">
                 <div class="afloon-newsletter-left">
                    <h4>Newsletter</h4>
                    <form>
                       <p>
                          <input type="email" name="newsletter" placeholder="Enter Your Email Address" id="newsletter" >
                          <button type="submit" ><i class="fa fa-send"></i></button>
                       </p>
                    </form>
                 </div>
              </div>
              <div class="col-md-5 col-sm-5">
                 <div class="afloon-newsletter-right">
                    <h4>follow us on</h4>
                    <ul>
                       <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                       <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                       <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                       <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!-- Newsletter Area End -->



{% endblock %}