{% extends 'base.html' %}

{% block title %} {{ page_title }} {% endblock%}


{% load crispy_forms_tags %}

{% load static %}

{% block content %}

 <!-- Breadcromb Area Start -->
 {% include 'realestate/partials/user_breadcromb.html' %}
 <!-- Breadcromb Area End -->

 <!-- Account Area Start -->
 <section class="afloon-account-area section_100">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="account-left">
                <div class="single-account-left">
                   <div class="row">
                      <div class="col-md-4">
                         
                         <div class="account-author-left">
                            <div class="account-menu">
                               <h3>Manage Account</h3>
                               <ul>
                                  <li>
                                     <a href="">
                                     <i class="fa fa-user"></i>
                                     my account
                                     </a>
                                  </li>
                                  <li>
                                     <a href="favourite.html">
                                     <i class="fa fa-heart-o"></i>
                                     favourite properties
                                     </a>
                                  </li>
                                  <li>
                                     <a href="add-property.html">
                                     <i class="fa fa-file-archive-o"></i>
                                     add new property
                                     </a>
                                  </li>
                                  <li>
                                     <a href="change-password.html">
                                     <i class="fa fa-lock"></i>
                                     change password
                                     </a>
                                  </li>
                                  <li>
                                     <a href="#">
                                     <i class="fa fa-power-off"></i>
                                     log out
                                     </a>
                                  </li>
                               </ul>
                            </div>
                         </div>
                      </div>
                      <div class="col-md-8">
                         <div class="single-add-property left-margin">
                            
                           
                            <div class="property-form-group">
                               <div class="row">

                               <!-- send_message.html -->

<form method="post" action="">
    {% csrf_token %}
    
   {{ form | crispy }}

   <p>
      <button class="btn btn-success" type="submit">Send Message</button>
    </p>
  </form>
  

                                
                                   
                                
                                
                                  
                               </div>
                               
                            </div>
                            
                         
                         </div>
                          
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- Account Area End -->

   



<!-- Newsletter Area Start -->
{% include 'realestate/partials/newsletter.html' %}
<!-- Newsletter Area End -->


{% endblock %}